html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}



.footer{
/*    *background: linear-gradient(to bottom, rgba(5, 5, 5, 0.596), rgba(6, 1, 5, 0.662));
    background-color: #1a2c3a;
    background-position: center;
    background-size: cover;
    width: auto;
    padding-bottom: 5px;
    height: 100vh;*/

    background: rgb(0, 0, 0);
    display: flex;  
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    padding: 0;
    
}

.box__footer .border, .wave, a{
    font-size: xx-large;
    color: rgb(0, 0, 0);
    font-size: 3rem;
    text-decoration: none;
    cursor: pointer;

    
}

.border{
    position: absolute;
    color: black;  
    text-shadow:
      -0.5px -0.5px 0 rgba(255, 255, 255, 0.582), 
      0.5px -0.5px 0 rgba(255, 255, 255, 0.582),
      -0.5px 0.5px 0 rgba(255, 255, 255, 0.582),
      0.5px 0.5px 0 rgba(255, 255, 255, 0.582);
      transition: all 1s;
}

.wave {
    color: rgb(16, 255, 52);
    animation: wave 3s ease-in-out infinite;
  }
  
  @keyframes wave {
    0%, 100% {
      clip-path: polygon(
        0% 47%,
        10% 48%,
        33% 54%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
      );
    }
  }

  .border:hover {
    color: rgb(16, 255, 52);
    *transition:all 1s ease-in-out;
    -moz-transition: 1s linear;
    -webkit-animation: 1s ease-out;
    
  }


  .border:active {
    color: rgb(16, 255, 52);
    *transition:all 0s ease-in-out !important;
  }